@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
  }

header {
  height: 64px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* ////........Navbar.......//// */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color: #F5EBF3;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
    display: flex;
}
  
.menu-items li {
    list-style: none;
    padding: 1.5rem;
}

.menu-items a {
    text-decoration: none;
    color: #522846;
    font-size: 1.2rem;
    padding: 0.3rem;
}

.menu-items a:hover {
    border-bottom: 2px solid #522846;
}

#more hr {
    margin-top: 0.05rem;
    margin-bottom: 0;
}

/* ////........Home Content........//// */

#showcase {
    background-image: url('Wallpaper.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    color: #E4C8DC;
  }
  
#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
  
#showcase p {
    font-size: 24px;
    margin-left: 30px;
    color: white;
}
  
#showcase .button {
    font-size: 21px;
    text-decoration:none;
    background-color:#D07AAD;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #FCFBFF;
    border:#D07AAD 1px solid;
    padding: 10px 20px;
    border-radius: 16px;
    margin-top: 20px;
    margin-left: 30px;
    width: 160px;
}
  
#showcase .button:hover {
    background-color:#FCFBFF;
    color: #D07AAD;
}
  
#more {
    height: 100vh;
    background-image: url('AboutUs.jpg');
    background-size: cover;
    background-position: center;
}
  
#more #text {
    width: 40%;
    text-align: justify;
    line-height: 2.2rem;
    font-size: 24px;
    font-weight: 600;
    color: white;
    position: relative;
    left: 15%;
    top: 20%;
}

footer a {
    text-decoration: none;
}

#i {
   font-size: 35px;
}

#p {
    font-size: 17px;
}

#div {
    margin-top: 20px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #F5EBF3;
}

footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p, a {
    color: #44223B;
}

footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #44223B;
  margin-bottom: 16px;

}

footer .content p{
  text-align: justify;
}

footer .content .lower .topic{
  margin: 24px 0 5px 0;
}

footer .content .lower i{
  padding-right: 16px;
}

footer .content .middle{
  padding-left: 80px;
}

footer .content .middle a{
  line-height: 32px;
}

footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #44223B;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.content .media-icons a:hover{
  border-color: #44223B;
}

footer .bottom {
  width: 100%;
  text-align: center;
  color: #44223B;
  background-color: #E9D4E5;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #44223B;
}

@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}

@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}

@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

  
@media (max-width: 991px) {
    #showcase {
        padding-bottom: 280px;
    }
    #more {
        flex-direction: column;
        align-items: center;
    }
}
  
